<!DOCTYPE html>
<html>
  <head>
    <title>YanaRama</title>   
    <strong><link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"></strong>
  </head>
  <body>
    <header>
      <div class="container">
        <h1 class="logo"> <img  src="http://images.clipartpanda.com/sun-transparent-background-sun_strong_bold_T.png"> WeatherSMS</h1>
        <strong><nav>
          <ul class="menu">
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('about') }}">About</a></li>
            <li><a href="{{ url_for('sth') }}">Receive</a></li>
            <li><a href="{{ url_for('sth2') }}">Send</a></li>
          </ul>
        </nav></strong>
      </div>
    </header>
      </header>


<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <div id="wrap">
    <!-- <div id="header"><h1>Document Heading</h1></div> -->
    <!-- <div id="nav">
    <ul>
    <li><a href="#">Option 1</a></li>
    <li><a href="#">Option 2</a></li>
    ...
    </ul>
    </div> -->

    <div id="main">
    <h2><a href="http://www.visitlondon.com/things-to-do/sightseeing">London</a></h2>
    <p>Lorem ipsum dolor sit amet, consectetuer  </p>
    </div>

    <div id="middle">
    <h2><a href="http://www.visitmanchester.com/">Manchester</a></h2>
    <p>Lorem ipsum dolor sit amet, consectetuerLorem ipsum </p>
    </div>

    <div id="sidebar">
    <h2><a href="http://www.visitliverpool.com/">Liverpool</a></h2>
    <p>Lorem ipsum dolor sit amet, consectetuerdolor sit amet </p>

    </div>

    <div id="footer">
    <p align="center"><strong>Text  +441937302020 with Weather Edi, Weather Glasgow, Weather London , Weather Aberdeen, Weather Liverpool, Weather Manchester </strong></p>
    </div>

    </div>
        <div id="main1">
    <h2><a href="http://www.visitscotland.com/destinations-maps/edinburgh-lothians/">Edinburgh</a></h2>
    <p>Lorem ipsum dolor sit amet, consectetuerLorem ipsum dolor .</p>
    </div>

    <div id="middle1">
    <h2><a href="http://www.visitscotland.com/info/towns-villages/glasgow-p237531">Glasgow</a></h2>
    <p>Lorem ipsum dolor sit amet, consectetuer Lorem ipsum dolor sit amet, .</p>
    </div>

    <div id="sidebar1">
    <h2><a href="http://www.visitaberdeen.com/">Aberdeen</a></h2>
    <p>Lorem ipsum dolor sit amet, dolor sit amet, consectetuerLorem it...</p>

    </div>

    <div id="footer1">
   <p align="center"><strong>Text  +441937302020 with Weather Edi, Weather Glasgow, Weather London , Weather Aberdeen, Weather Liverpool, Weather Manchester </strong></p>
    </div>

    </div>


     
<!--     <div class="container">
      {% block content %}
      {% endblock %}
    </div> -->
  </body>
</html>

